@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Epilogue', sans-serif;
    background-color: black;
}

.rounded {
    border-radius: 1rem !important;
}

.text-secondary {
    color: #838a8f !important;
}

.bg-dark {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 960px;
}

.project-thumbnail {
    transition: 300ms all ease;
}

.project-thumbnail:hover {
    filter: brightness(0.5);
    transform: scale(0.975);
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 150ms all ease;
}

.icon:hover {
    transform: scale(1.1);
}

.bg {
    background-size: cover;
    background-position: center;
}

/* ANIMATION ON LOAD */
@keyframes animate {
    0% {
        transform: translatey(-5%);
        opacity: 0;
    }

    100% {
        transform: translatey(0);
        opacity: 1;
    }
}

.content {
    animation: 500ms ease-out 0s 1 animate;
}